<!-- views/products/edit.hbs -->
<style>
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    .button4 {background-color: #e7e7e7; color: black;} /* Gray */ 

    table, td, th {  
        border: 1px solid #ddd;
        text-align: left;
    }

    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    padding: 15px;
    }
</style>

<h1>Editar producto</h1>
<form method="POST" action="/products/{{ product.id }}?_method=PUT">
    <table>
        <tr>
            <th>Nombre: </th>
            <td><input type="text" id="name" name="name" value="{{ product.name }}"></td>
        </tr>
        <tr>
            <th>Precio: </th>
            <td><input type="text" id="price" name="price" value="{{ product.price }}"></td>
        </tr>
        <tr>
            <th>Descripcion: </th>
            <td><input type="text" id="description" name="description" value="{{ product.description }}"></td>
        </tr>
        <tr>
            <th></th>
            <td>
                <input type="submit" value="Edit" class="button button4">
            </td>
        </tr>
    </table>
</form>